<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />

        <title>sbnciface v2</title>
    </head>
    <body>
        <a href="https://github.com/sbnciface/sbnciface-v2"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
        <div class="login-container">
            <div class="container span4">
                <div class="content login">
                    <div class="login-header">
                        <img src="/assets/img/login_header.png" />
                    </div>
                    <div class="login-body">
                        {% if alert %}
                            <div class="alert alert-{{ alert.type }}">
                                <a href="#" class="close" data-dismiss="alert">&times;</a>
                            {{ alert.message }}
                            </div>
                        {% endif %}
                            <form action="" method="post">
                                <div class="input-prepend">
                                    <span class="add-on"><i class="icon-user"></i></span>
                                    <input type="text" id="inputUsername" name="inputUsername" placeholder="Username" />
                                </div>
                                <div class="input-prepend">
                                    <span class="add-on"><i class="icon-lock"></i></span>
                                    <input type="password" id="inputPassword" name="inputPassword" placeholder="Password" />
                                </div>
                                {% if sbncsettings.servers|length > 1 %}
                                <div class="input-prepend">
                                    <span class="add-on"><i class="icon-hdd"></i></span>
                                    <select>
                                    {% set srvnum = 0 %}
                                    {% for server in sbncsettings.servers %}
                                        <option value="{{srvnum}}">{{server.name}}</option>
                                        {% set srvnum = srvnum + 1 %}
                                    {% endfor %}
                                    </select>
                                </div>
                                {% endif %}
                                <input type="submit" name="submitForm" value="Login" class="span4 btn btn-primary">
                            </form>
                            <div class="clearfix"></div>
                            <div class="version">sbnciface v{{sbnciface.version_num}} {{sbnciface.version_name}}</div>
                        </div>
                    </div>
                </div>
            </div>            
            </div>
            <div class="authors">
                sbnciface &copy; 2013
            </div>
            <!-- JavaScript -->
            <script type="text/javascript" src="/assets/js/jquery.js"></script>
            <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
        </body>
    </html>